$color-white: #fff;
$color-white-2: rgba(255, 255, 255, .85);
$color-primary: #55c57a;
$color-primary-2: rgba(30, 123, 51, .8); 
$color-grey-dark: #777;
$color-black: #000;
$color-black-2: rgba(0, 0, 0, 0.5);
$color-grey-dark-3: #333;
$color-grey-dark-4: rgb(248, 248, 248);

$heading-tertiary-mod-color: #563e7d;
$about-skill-wrapper-html5-color: #e44d26;
$about-skill-wrapper-css3-color: #0277bd; 
$about-skill-wrapper-js-color: #e9ca32;
$about-skill-wrapper-react-color: #81dffc;
$about-skill-wrapper-sass-color: #563e7d; 
$about-skill-wrapper-npm-color: #d50000;  

$form-bcg-color: rgba(86, 188, 109, .7);

$shadow: 0 0 2rem rgba(0,0,0,0.4);

$default-font-size: 1.6rem;
