.bcg-video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;   
  width: 100%; 
  z-index: -1;
  opacity: 0.3;
  overflow: hidden;  

  &__content{  
      height: 100%;
      width: 100%;
      object-fit: cover; //Управляет соотношением сторон заменяемых элементов, таких как <img> и <video>, когда у них задана ширина или высота, а также способом       масштабирования. Свойство -o-object-fit может сохранять исходные пропорции элемента или наоборот, искажать пропорции, в угоду соблюдения размеров.
  }  
}